
/* Primera sección: Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #000000;
}

.navbar .title {
  text-transform: uppercase;
}

.poker {
  color: white;
}

.united {
  color: #5CC1CE;
}

/* Segunda sección: Tareas */
#tarea {
  background-color: #5CC1CE;
  height: 100px;
  padding-left: 40px;
  color: white;
}

#tarea .tarea-texto {
  font-weight: bold;
  font-style: italic;
}

.nueva-tarea {
  margin-top: 25px;
  
}

/* Tercera sección: Cartas de usuarios */
.carta {
  width: 70px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 5px;
  position: relative;
}

.esquina-superior, .esquina-inferior {
  width: 20px;
  height: 20px;
  position: absolute;
}

.esquina-superior {
  top: 5px;
  left: 5px;
}

.esquina-inferior {
  bottom: 5px;
  right: 5px;
  transform: rotate(180deg);
}

.numero {
  font-size: 12px;
  text-align: center;
}

.simbolo {
  font-size: 12px;
  text-align: center;
}

.carta-poker:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.carta-poker > .card-body {
  padding: 2px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 2px solid #000;
  border-radius: 5px;
}

.carta-poker:hover {
  transform: scale(1.1);
  background: #5CC1CE;
  transition: background 0.3s ease-in-out;
}

.carta-poker:active {
  background: #3A9FA7;
}

.reverso-carta {
  background-size: cover;
  position: relative;
  background-color: black;
}

.cartas-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

/* Cuarta sección: Carta seleccionada */
#cartas-seleccion {
  background-color: rgb(255, 255, 255);
  height: 25%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#cartas-seleccion {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.fila {
  flex-wrap: nowrap;
}

.carta-seleccionada {
  background-color: #5CC1CE !important;
  color: white;
}

.carta-seleccionada:hover {
  background: #3A9FA7 !important;
}